<div x-data="refreshComponent()" x-init='() => {startTimer()}' class="flex justify-around" >
    <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:border-indigo-700 active:bg-indigo-700 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Processing, refreshing in <span class="ml-2 " x-text="refresh"/>
    </button>
</div>

<script>
 function refreshComponent() {
     return {
         refresh: 5,
         startTimer: function() {
             const self = this;
             let interval = null;
             
             function countDown() {
                 self.refresh = self.refresh - 1;
                 if( self.refresh < 1 ) {
                     if( interval ) {
                         clearInterval( interval );
                     }
                     window.location = window.location;
                 }
             }
             
             console.log( "Starting timer" );
             interval = setInterval( () => { countDown() }, 1000 );
         }
     }
 }
</script>
