---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/actionview.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.237.26.162:443
      Etag:
      - '"0cdad541e19b9dc50bb6bde652ad0d83"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"actionview","downloads":209502103,"version":"6.1.0","version_created_at":"2020-12-09T19:57:01.445Z","version_downloads":187867,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Simple, battle-tested conventions and helpers
        for building web pages.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/blob/v6.1.0/actionview/CHANGELOG.md","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v6.1.0/actionview","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v6.1.0/"},"yanked":false,"sha":"f3ab9bd93e13ace74cb131555782a12d09233cafac108c5e1dcb244e4ebac8b4","project_uri":"https://rubygems.org/gems/actionview","gem_uri":"https://rubygems.org/gems/actionview-6.1.0.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v6.1.0/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v6.1.0/actionview","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/blob/v6.1.0/actionview/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[{"name":"actionpack","requirements":"=
        6.1.0"},{"name":"activemodel","requirements":"= 6.1.0"}],"runtime":[{"name":"activesupport","requirements":"=
        6.1.0"},{"name":"builder","requirements":"~\u003e 3.1"},{"name":"erubi","requirements":"~\u003e
        1.4"},{"name":"rails-dom-testing","requirements":"~\u003e 2.0"},{"name":"rails-html-sanitizer","requirements":"~\u003e
        1.1, \u003e= 1.2.0"}]}}'
  recorded_at: Fri, 01 Jan 2021 13:01:09 GMT
[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/actionpack.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.237.26.162:443
      Etag:
      - '"3d562e1a4b5a0e507cce4c33dcae9854"'
    body:
      encoding: ASCII-8BIT
      string[...]
[...]
