---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.214.179.27:443
      Etag:
      - '"6f8baca14c05f9861b4b6e3b57bf3e74"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"concurrent-ruby","downloads":275367890,"version":"1.1.7","version_downloads":19099581,"platform":"ruby","authors":"Jerry
        D''Antonio, Petr Chalupa, The Ruby Concurrency Team","info":"Modern concurrency
        tools including agents, futures, promises, thread pools, actors, supervisors,
        and more.\nInspired by Erlang, Clojure, Go, JavaScript, actors, and classic
        concurrency patterns.\n","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CHANGELOG.md","source_code_uri":"https://github.com/ruby-concurrency/concurrent-ruby"},"yanked":false,"sha":"ff4befc88d522ccb2109596da26309f4b0b041683ca62d3cb903b313e1caddee","project_uri":"https://rubygems.org/gems/concurrent-ruby","gem_uri":"https://rubygems.org/gems/concurrent-ruby-1.1.7.gem","homepage_uri":"http://www.concurrent-ruby.com","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/ruby-concurrency/concurrent-ruby","bug_tracker_uri":null,"changelog_uri":"https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 21 Nov 2020 00:05:57 GMT
recorded_with: VCR 6.0.0
