---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.230.238:443
      Etag:
      - '"72d9c4bc6da2d5aca55eeaa78bca2e3d"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"concurrent-ruby","downloads":275368778,"version":"1.1.7","version_downloads":19100161,"platform":"ruby","authors":"Jerry
        D''Antonio, Petr Chalupa, The Ruby Concurrency Team","info":"Modern concurrency
        tools including agents, futures, promises, thread pools, actors, supervisors,
        and more.\nInspired by Erlang, Clojure, Go, JavaScript, actors, and classic
        concurrency patterns.\n","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CHANGELOG.md","source_code_uri":"https://github.com/ruby-concurrency/concurrent-ruby"},"yanked":false,"sha":"ff4befc88d522ccb2109596da26309f4b0b041683ca62d3cb903b313e1caddee","project_uri":"https://rubygems.org/gems/concurrent-ruby","gem_uri":"https://rubygems.org/gems/concurrent-ruby-1.1.7.gem","homepage_uri":"http://www.concurrent-ruby.com","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/ruby-concurrency/concurrent-ruby","bug_tracker_uri":null,"changelog_uri":"https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 21 Nov 2020 00:08:48 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faker.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.214.179.27:443
      Etag:
      - '"560e76d446d504ebfea768011803d7b1"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"faker","downloads":77167167,"version":"2.14.0","version_downloads":1039751,"platform":"ruby","authors":"Benjamin
        Curtis, Vitor Oliveira","info":"Faker, a port of Data::Faker from Perl, is
        used to easily generate fake data: names, addresses, phone numbers, etc.","licenses":["MIT"],"metadata":{"yard.run":"yri","changelog_uri":"https://github.com/faker-ruby/faker/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/faker-ruby/faker/issues","source_code_uri":"https://github.com/faker-ruby/faker","documentation_uri":"https://rubydoc.info/github/faker-ruby/faker/master"},"yanked":false,"sha":"86d67f5578bffe0d06e53b6f320e59348662bf8bbfecef344d7780291241501b","project_uri":"https://rubygems.org/gems/faker","gem_uri":"https://rubygems.org/gems/faker-2.14.0.gem","homepage_uri":"https://github.com/faker-ruby/faker","wiki_uri":null,"documentation_uri":"https://rubydoc.info/github/faker-ruby/faker/master","mailing_list_uri":null,"source_code_uri":"https://github.com/faker-ruby/faker","bug_tracker_uri":"https://github.com/faker-ruby/faker/issues","changelog_uri":"https://github.com/faker-ruby/faker/blob/master/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[{"name":"minitest","requirements":"=
        5.14.2"},{"name":"pry","requirements":"= 0.13.1"},{"name":"rake","requirements":"=
        13.0.1"},{"name":"rubocop","requirements":"= 0.90.0"},{"name":"simplecov","requirements":"=
        0.17.1"},{"name":"test-unit","requirements":"= 3.3.6"},{"name":"timecop","requirements":"=
        0.9.1"},{"name":"yard","requirements":"= 0.9.25"}],"runtime":[{"name":"i18n","requirements":"\u003e=
        1.6, \u003c 2"}]}}'
  recorded_at: Sat, 21 Nov 2020 00:08:48 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.89.230.238:443
      Etag:
      - '"16e10a18619861eb6bd70efdbc6a08fa"'
    body:
      encoding: ASCII-8BIT
      string: '{"n[...]
