---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foreman.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.240.15.233:443
      Etag:
      - '"37708b9c42368204154d4725b2983721"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"foreman","downloads":46609682,"version":"0.87.2","version_downloads":858035,"platform":"ruby","authors":"David
        Dollar","info":"Process manager for applications with multiple components","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"2727bc6e2100bf80b76e391aefe8c30a9d172b4a8acf56f072f94ffeedeeef6b","project_uri":"https://rubygems.org/gems/foreman","gem_uri":"https://rubygems.org/gems/foreman-0.87.2.gem","homepage_uri":"http://github.com/ddollar/foreman","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/foreman/0.87.2","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Fri, 04 Dec 2020 17:03:52 GMT
recorded_with: VCR 6.0.0
