---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/json.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.230.114.12:443
      Etag:
      - '"05d39cde986ab9e412db8ee6877a9224"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"json","downloads":390688296,"version":"2.4.1","version_downloads":44088,"platform":"ruby","authors":"Florian
        Frank","info":"This is a JSON implementation as a Ruby extension in C.","licenses":["Ruby"],"metadata":{"wiki_uri":"https://github.com/flori/json/wiki","homepage_uri":"http://flori.github.io/json/","changelog_uri":"https://github.com/flori/json/blob/master/CHANGES.md","bug_tracker_uri":"https://github.com/flori/json/issues","source_code_uri":"https://github.com/flori/json","documentation_uri":"http://flori.github.io/json/doc/index.html"},"yanked":false,"sha":"f8d2ead1568e59de3d44dc4bfca9f4a93c8b73818ad7df986025fa9de2edf627","project_uri":"https://rubygems.org/gems/json","gem_uri":"https://rubygems.org/gems/json-2.4.1.gem","homepage_uri":"http://flori.github.io/json/","wiki_uri":"https://github.com/flori/json/wiki","documentation_uri":"http://flori.github.io/json/doc/index.html","mailing_list_uri":null,"source_code_uri":"https://github.com/flori/json","bug_tracker_uri":"https://github.com/flori/json/issues","changelog_uri":"https://github.com/flori/json/blob/master/CHANGES.md","funding_uri":null,"dependencies":{"development":[{"name":"rake","requirements":"\u003e=
        0"},{"name":"test-unit","requirements":"\u003e= 0"}],"runtime":[]}}'
  recorded_at: Thu, 17 Dec 2020 16:06:25 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/json.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2020 05:16:36 GMT
      X-Backend:
      - F_Rails 44.230.114.12:443
      Etag:
      - '"a4d50471a14917a0b957144620685b9f"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Daniel Luz","built_at":"2020-12-17T00:00:00.000Z","created_at":"2020-12-17T05:16:35.999Z","description":"A
        JSON implementation as a JRuby extension.","downloads_count":317,"metadata":{"wiki_uri":"https://github.com/flori/json/wiki","homepage_uri":"http://flori.github.io/json/","changelog_uri":"https://github.com/flori/json/blob/master/CHANGES.md","bug_tracker_uri":"https://github.com/flori/json/issues","source_code_uri":"https://github.com/flori/json","documentation_uri":"http://flori.github.io/json/doc/index.html"},"number":"2.4.1","summary":"JSON
        Implementation for Ruby","platform":"java","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        2.0","prerelease":false,"licenses":["Ruby"],"requirements":[],"sha":"ec15fdfa6e094a9df8831dc8faf50fea5ff21f80e414c0c67aa976fc3eac351e"},{"authors":"Florian
        Frank","built_at":"2020-12-17T00:00:00.000Z","created_at":"2020-12-17T05:16:21.549Z","description":"This
        is a JSON implementation as a Ruby extension in C.","downloads_count":44088,"metadata":{"wiki_uri":"https://github.com/flori/json/wiki","homepage_uri":"http://flori.github.io/json/","changelog_uri":"https://github.com/flori/json/blob/master/[...]
