---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/turbolinks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.214.179.27:443
      Etag:
      - '"f75bae47af21ef578e559b7f67983e08"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"turbolinks","downloads":81898256,"version":"5.2.1","version_downloads":6640424,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Rails engine for Turbolinks 5 support","licenses":["MIT"],"metadata":{"source_code_uri":"https://github.com/turbolinks/turbolinks-rails"},"yanked":false,"sha":"5fea5889c4e2a78a5bd9abda3860c565342b50c6e2593697d5558a08e15cce9c","project_uri":"https://rubygems.org/gems/turbolinks","gem_uri":"https://rubygems.org/gems/turbolinks-5.2.1.gem","homepage_uri":"https://github.com/turbolinks/turbolinks","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/turbolinks/turbolinks-rails","bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"turbolinks-source","requirements":"~\u003e
        5.2"}]}}'
  recorded_at: Sun, 22 Nov 2020 21:09:10 GMT
recorded_with: VCR 6.0.0
