---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/foreman.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.230.114.12:443
      Etag:
      - '"13ae1f17ace4529ffd0f136d1c0eaa00"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"foreman","downloads":46609691,"version":"0.87.2","version_downloads":858037,"platform":"ruby","authors":"David
        Dollar","info":"Process manager for applications with multiple components","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"2727bc6e2100bf80b76e391aefe8c30a9d172b4a8acf56f072f94ffeedeeef6b","project_uri":"https://rubygems.org/gems/foreman","gem_uri":"https://rubygems.org/gems/foreman-0.87.2.gem","homepage_uri":"http://github.com/ddollar/foreman","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/foreman/0.87.2","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Fri, 04 Dec 2020 17:04:20 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foreman.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 07 Aug 2020 13:51:51 GMT
      X-Backend:
      - F_Rails 44.240.15.233:443
      Etag:
      - '"f5a545d53351462b9e3594946acb61f9"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Dollar","built_at":"2020-08-07T00:00:00.000Z","created_at":"2020-08-07T13:51:51.204Z","description":"Process
        manager for applications with multiple components","downloads_count":858009,"metadata":{},"number":"0.87.2","summary":"Process
        manager for applications with multiple components","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"2727bc6e2100bf80b76e391aefe8c30a9d172b4a8acf56f072f94ffeedeeef6b"},{"authors":"David
        Dollar","built_at":"2020-04-02T00:00:00.000Z","created_at":"2020-04-02T13:44:16.482Z","description":"Process
        manager for applications with multiple components","downloads_count":1296738,"metadata":{},"number":"0.87.1","summary":"Process
        manager for applications with multiple components","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelea[...]
